{% extends 'layout.html' %}
{% block content %}

<a href="/books" class="btn-back">
    <i class="fas fa-arrow-left"></i> Back to Books
</a>

<div class="page-header">
    <h1>Edit Book</h1>
</div>

<div class="form-card">
    <form method="POST">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" value="{{ book[1] }}">
        </div>
        <div class="form-group">
            <label>Author</label>
            <input type="text" name="author" value="{{ book[2] }}">
        </div>
        <div class="form-group">
            <label>Genre</label>
            <input type="text" name="genre" value="{{ book[3] }}">
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="number" name="quantity" value="{{ book[4] }}">
        </div>
        <button type="submit" class="btn-submit">
            <i class="fas fa-save"></i> Update Book
        </button>
    </form>
</div>

{% endblock %}